/* Default settings */
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* #COLOR VARIABLES DEFINE
====================================================== */
/* #MIXINS DEFINE with function
====================================================== */
/* #Extend/Inheritance
===================================================== */
.no-repat, .shadowcreate, header .menu > a {
  background-position: left top;
  background-repeat: no-repeat; }

/* Base Styles
======================================================  */
body {
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Open Sans';
  color: #333; }

.container {
  margin: 0 auto;
  width: 1400px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

img {
  max-width: 100%;
  vertical-align: top; }

*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix {
  clear: both; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

li {
  list-style: none; }

/* Links
======================================================  */
a {
  color: #004DAC;
  text-decoration: none;
  outline: 0 !important;
  vertical-align: top; }
  a.grey-link {
    color: #333; }
    a.grey-link:hover {
      color: #999999;
      text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.shadowbox {
  display: none; }

/* #GLOBAL CSS CONTENT 
======================================= */
.redicon {
  position: absolute;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #ff000b;
  top: -7px;
  right: -7px; }

.shadowcreate {
  background-image: url(../images/shadow.png);
  background-position: center -1px;
  padding-bottom: 40px; }

/* #HEADER GLOBAL CSS
======================================= */
header {
  background-color: #fc8c2a;
  padding: 5px 0; }
  header .container {
    align-items: center; }
  header .logo {
    margin-right: 20px; }
    header .logo a:hover img {
      opacity: 0.6; }
  header .menu {
    margin-right: auto;
    position: relative; }
    header .menu > a {
      font-size: 15px;
      font-weight: bold;
      padding-left: 30px;
      position: relative; }
      header .menu > a:after {
        content: "";
        position: absolute;
        height: 9px;
        width: 22px;
        left: 0;
        bottom: 0;
        border-top: 3px solid;
        border-bottom: 3px solid; }
      header .menu > a:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 9px;
        width: 22px;
        border-top: 3px solid;
        border-bottom: 3px solid; }
  header .right_menu ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center; }
  header .right_menu li {
    margin-left: 15px;
    position: relative; }
  header .right_menu .user_name {
    font-size: 15px;
    color: #fff; }
  header .right_menu .shrimailcon a {
    background-image: url(../images/sprite.png);
    font-size: 0;
    width: 28px;
    height: 20px;
    background-position: -3px -3px;
    display: block; }
  header .right_menu .flag_icon a {
    background-image: url(../images/sprite.png);
    font-size: 0;
    width: 19px;
    height: 20px;
    background-position: -3px -25px;
    display: block; }
  header .right_menu .settingicon a {
    font-size: 0;
    width: 16px;
    height: 16px;
    display: block;
    background-image: url(../images/sprite.png);
    background-position: -3px -48px; }
  header .right_menu .signout a {
    line-height: 32px;
    padding: 0 15px;
    display: block;
    background-color: #fece9d;
    border-radius: 3px;
    font-weight: bold;
    color: #F98E0D; }
    header .right_menu .signout a:hover {
      background-color: #fdba74;
      color: #fff;
      text-decoration: none; }

/* #PAGE HEADING GREY BG
======================================= */
/* #FOOTER GLOBAL CSS
======================================= */
.footer-region-top {
  padding: 20px 0;
  margin-top: 80px;
  background-color: #fc8c2a; }
  .footer-region-top .container {
    justify-content: space-between; }
  .footer-region-top .box-left {
    position: relative; }
  .footer-region-top .box-right {
    text-align: right; }
    .footer-region-top .box-right h6 {
      line-height: 31px;
      margin: 15px 0; }
  .footer-region-top .foo_socil {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .footer-region-top .foo_socil li {
      margin-right: 8px; }
  .footer-region-top .foo_menu {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .footer-region-top .foo_menu li {
      border-right: 1px solid #fff;
      line-height: 18px;
      padding: 0 10px; }
      .footer-region-top .foo_menu li:last-child {
        padding-right: 0;
        border: 0px; }
    .footer-region-top .foo_menu a {
      color: #fff;
      font-size: 15px; }
  .footer-region-top .autoimgfooter {
    position: absolute;
    bottom: -20px; }

/* footer bottom */
.footer-region-bottom {
  line-height: 1.4;
  margin-bottom: 30px; }
  .footer-region-bottom .container {
    justify-content: space-between; }

.secutity ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 15px; }
  .secutity ul img {
    height: 35px; }
  .secutity ul li:last-child {
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #333; }

.copy_right {
  text-align: right;
  font-size: 12px; }
  .copy_right ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    line-height: 1; }
  .copy_right p {
    margin-top: 15px; }
  .copy_right li:last-child {
    border-left: 1px solid #333;
    padding-left: 10px;
    margin-left: 10px; }
  .copy_right .linkgrey {
    color: #333; }
    .copy_right .linkgrey:hover {
      color: #004DAC; }

/*# sourceMappingURL=global.css.map */
